#logo {
  border: 2px solid black;
  border-radius: 15px;
  background-color: black;
  display: flex;
  width: 50px;
  height: 50px;
  position: relative;
}

#about{
  height: 550px;
  width: 100%;
}

#css{
background: linear-gradient(300deg,#00bfff,#ff4c68,#ef8172);
animation: gradient-animation 18s ease infinte;
}

@keyframes radient-animation{
0% {
  background-position: 0% 50%;
}
50% {
  background-position: 100% 50%;
}
100% {
  background-position: 0% 50%;
}
}